.lead {
	font-weight: 400;
    padding: 2rem;
    margin-bottom: 4rem;
    text-align: center;

    border-radius: 4px;
    background: #f5f5f5;

    &.lead_success {
        background: #e4fdeb;
    }
}

@media screen and (max-width: 768px) {
	.lead {
	    padding: 1.5rem;
	}
}