.b-photo {
	flex: 1 1 30%;
    margin-bottom: 10px;
    margin-right: 10px;

    

	.photo-qty {
		position: absolute;
	    z-index: 10;
	    color: White;
	    right: 20px;
	    padding: 10px;
	    bottom: 20px;
	    background-color: rgba(0,0,0,0.5);
	    font-weight: bold;
	    transition: 200ms;
	}

	.photo-name {
		text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.7);
	    font-weight: bold;
	    font-size: 22px;
	    position: absolute;
	    text-transform: uppercase;
	    z-index: 10;
	    color: White;
	    padding: 10px;
	    left: 10px;
	    top: 10px;
	}

	.photo-group-welcome {
	   text-transform: uppercase;
	    transform: translateY(10rem);
	    position: absolute;
	    color: white;
	    z-index: 10;
	    /* border: 1px solid white; */
	    margin: 0px auto;
	    padding: 10px;
	    -webkit-box-sizing: border-box;
	    box-sizing: border-box;
	    bottom: 20px;
	    left: 20px;
	    right: 20px;
	    text-align: center;
	    font-weight: bold;
	    color: #fff;
	    background-color: $color_green-l;
	    transition: 200ms;
	}

	.photo-overflow-container:hover {
		.photo-group-welcome {
			transform: none;
		}
	}

	&:hover {
		.photo-single {
			transform: scale(1.1);
		}
		.photo-qty {
			transform: translateX(20rem);
		}
	}
}
