.feature {
	text-align: center;
}

.feature__icon {
	position: relative;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    line-height: 95px;
    text-align: center;
    display: block;
    margin: 0 auto 2rem auto;
    line-height: 130px;
    padding: 0 0 2rem 0;
    background: #f1f1f1;

    &:after {
    	@include pseudo;
    	width: 30px;
    	height: 1px;
    	bottom: 0;
    	left: 50%;
    	transform: translateY(-50%);
    	background-color: gainsboro;
    }

	img {
		width: 50px;
		height: 50px;
	}
}
.feature__text {
	display: block;
    line-height: 2.5rem;
    font-size: 1.9rem;
    text-align: center;
    color: #296495;
    font-weight: 300;
}