.nav-main {
	flex-grow: 1;

	@include flex-row(nowrap, space-between, center);
	height: 5rem;

	&>a {
		color: #fff;
	}
}

.nav-main__buttons {
	// @include flex-row(nowrap, flex-start, center);
	width: 27.2rem;
	// overflow: auto;
	// margin-right: auto;
}

a.nav-main__phone {
	position: relative;
	display: inline-block;
	height: 100%;
	color: #fff; 
	font-size: 1.5rem; 
	text-decoration: none; 
	line-height: 5rem; 
	font-weight: 500;	
	padding: 0 2rem;
	background-color: lighten($color_blue-l, 10%);
	
	
	&:hover {
		background-color: #fff;
		color: $color_blue-l;

		&:after, &:before {
			display: block;
		}
	}

	&:after {
		display: none;
		position: absolute;
	    content: 'Бесплатно по РФ';
	    bottom: -31px;
	    left: 0;
	    width: 100%;
	    transform: translateY(5px);
	    height: 25px;
	    line-height: 25px;
	    font-size: 1.2rem;
	    font-weight: 400;
	    background-color: white;
	    color: #4a4a4a;
	    border-radius: 5px;
	    text-align: center;
	    transition-delay: 500ms;
	    box-shadow: 0 0 10px 1px rgba(0,0,0,.15);

	}

	&:before {
		display: none;
	    position: absolute;
	    content: '';
	    bottom: -6px;
	    left: 50%;
	    transform: translateX(-3px) translateY(5px);
	    width: 1px;
	    height: 1px;
	    border-top: 5px solid transparent;
	    border-left: 5px solid transparent;
	    border-bottom: 5px solid white;
	    border-right: 5px solid transparent;
	    transition-delay: 500ms;

	}
}

.nav-main__calc {
	position: relative;
	width: 5.5rem;
    height: 5rem;
    background: url(/img/icons/i-calendar.png) #46c276;
    background-size: 2.7rem;
    background-repeat: no-repeat;
    background-position: center center;
    flex: 0 0 5rem;
    display: block;
    float: left;
    transition: 200ms;

	&:after {
		display: none;
		position: absolute;
	    content: 'Забронировать путевку';
	    bottom: -31px;
	    left: 0;
	    width: 194px;
	    transform: translateY(5px);
	    height: 25px;
	    line-height: 25px;
	    font-size: 1.2rem;
	    font-weight: 400;
	    background-color: white;
	    color: #4a4a4a;
	    border-radius: 5px;
	    text-align: center;
	    transition-delay: 500ms;
	    box-shadow: 0 0 10px 1px rgba(0,0,0,.15);

	}

	&:before {
		display: none;
	    position: absolute;
	    content: '';
	    bottom: -6px;
	    left: 50%;
	    transform: translateX(-3px) translateY(5px);
	    width: 1px;
	    height: 1px;
	    border-top: 5px solid transparent;
	    border-left: 5px solid transparent;
	    border-bottom: 5px solid white;
	    border-right: 5px solid transparent;
	    transition-delay: 500ms;

	}

    &:hover {
    	background-color: $color_green-d;

		&:after, &:before {
			display: block;
		}
    }
}

.nav-main__links {
	@include flex-row(nowrap, flex-start, center);
	list-style: none;

	transition: 500ms;
	& > li {

		position: relative;
		margin: 0 0rem 0 0;
		padding: 1.4rem 1rem;
		margin-right: 0;
		color: #fff;
		font-size: 1.4rem;
		background-color: transparent;
		z-index: 2;
		text-transform: uppercase;
		text-decoration: none;
		font-weight: 600;
		cursor: default;
		list-style: none;
		// border-top: 5px solid transparent;

		transition: 200ms;
		&:nth-child(1) { transition-delay: 50ms; }
		&:nth-child(2) { transition-delay: 100ms; }
		&:nth-child(3) { transition-delay: 150ms; }
		&:nth-child(4) { transition-delay: 200ms; }

		&:nth-child(4) { margin-right: 0; }
		

		&:before {
			@include pseudo;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
			height: 100%;
			background-color: #fff;
			transform: translateY(-120%);
			opacity: 0;
			z-index: -1;
			transition: 500ms;
		}

		&:last-child {
			margin-right: 0;
		}

		&:hover {
			background-color: rgba(255,255,255,.2);
			cursor: pointer;
		}
		&.dropdown_small-opened,
		&.dropdown_big-opened {
			color: $color_blue-l;
		}
		&.dropdown_small-opened:before,
		&.dropdown_big-opened:before {
			transform: none;
			opacity: 1;
		}
	}
}

.nav-main__links_removed {
	& > li {
		
			transform: translateY(-5rem)


	}
}

@media screen and (max-width: 1280px) {
	.nav-main {
		.nav-main__links {
			display: none;
		}
	}

	a.nav-main__phone {		
		
		
		&:hover {
			background-color: #fff;
			color: $color_blue-l;

			&:after, &:before {
				display: block;
			}
		}

		&:after {
		    position: absolute;
		    content: 'Бесплатно по РФ';
		    bottom: 13px;
		    right: 0;
		    /* -webkit-transform: translateY(5px); */
		    -ms-transform: translateY(5px);
		    transform: translatex(105%);
		}

		&:before {
			    position: absolute;
			    content: '';
			    bottom: 20px;
			    right: 0;
			    right: 0;
			    /* -webkit-transform: translateX(-3px) translateY(5px); */
			    -ms-transform: translateX(-3px) translateY(5px);
			    transform: rotate(-90deg);
			    /* width: 1px; */
			    /* height: 1px; */
			    border-top: 5px solid transparent;
			    border-left: 5px solid transparent;
			    border-bottom: 5px solid white;
			    border-right: 5px solid transparent;
			    -webkit-transition-delay: 500ms;
			    -o-transition-delay: 500ms;
			    transition-delay: 500ms;
			    right: 0;
			    left: auto;
			    right: -9px;

		}
	}
}

@media screen and (max-width: 768px) {
		a.nav-main__phone,
		a.nav-main__calc {			
		
			&:hover {

				&:after, &:before {
					display: none;
				}
		}
	}
}

@media screen and (max-width: 568px) {
	// .nav-main__buttons {
	//     width: 18rem;
	// }
	a.nav-main__phone {
		font-size: 1.3rem;
		padding: 0 1rem;
	}
}

@media screen and (max-width: 413px) {
	a.nav-main__phone {
		font-size: 1.2rem;
	}
	.nav-main__calc {
		width: 4.5rem;
	}
	.nav-main__buttons {
		width: 100%;
	}
}
