.page-footer-small {
	@include flex-row(wrap, space-between, center);

    padding: $gutter 0 0 0;
    border-top: 1px solid rgba(255,255,255,.2);
    margin: $gutter 0 $gutter 0;
    // border-bottom: 1px solid rgba(255,255,255,.2);
    // opacity: .8;
}
.page-footer-small__legal {
	flex: 1 1 70%;
	margin: 0 0 0 0;
	p {
		margin: 0 0 $gutter 0;
	}
	p,a {
		color: #fff;
		// opacity: .8;
	}
}



@media screen and (max-width: 1024px) {
	.page-footer-small__legal {
		flex: 1 1 60%;
	}
	.page-footer-small__social {
		flex: 1 1 30%;
	}
}

@media screen and (max-width: 768px) {
	.page-footer-small__legal {
		flex: 1 1 100%;
		text-align: center;
	}
	.page-footer-small__social {
		flex: 1 1 100%;
		margin: 0 $gutter 1rem 0;
	}
}