.phone {
	position: relative;
	color: #000;
	font-size: 2.2rem;
	font-weight: 600;
	padding: 0 2rem 0 0;
	cursor: default;
	text-decoration: none;

	&:after {
		@include pseudo;
		right: 0;
		top: 48%;
		transform: translateY(-50%) rotate(45deg);
		width: .6rem;
		height: .6rem;
		background: transparent;
		border-bottom: 2px solid $color_main-b;
		border-right: 2px solid $color_main-b;
	}

	// a {
	// 	color: #fff;
	// 	text-decoration: none;
	// }
}
.phone__city-code {
	font-size: 1.4rem;
	font-weight: 400;
	color: #8f8f8f;
}

.phone__accordeon {
	display: none;
	position: absolute;
	left: -22px;
	top: 99%;
	width: 200px;
	padding: 10px 15px;
	text-align: center;
	background-color: #fff;
	z-index: 9;
	box-shadow: 0 0 35px 1px rgba(0,0,0,.1);
	border-radius: 6px;

	a {
		display: block;
		margin: 5px 0;
		padding: 5px 0;
		text-decoration: none;
		&:hover {
			color: $color_main;
		}
	}

	&.active {
		display: block;
	}
}


.page-footer {
	.phone {
		&:after {
			display: none;
		}

		a {
			color: #fff;
			text-decoration: none;
		}
	}
}

@media screen and (max-width: 768px) {
	.phone__accordeon {
		top: 150%;
	}
}