.to-top {
	@include flex-row(nowrap, center, center);
	position: fixed;
	transform: translateX(200%);
	right: 1rem;
	bottom: 1rem;
	width: 5rem;
	height: 5rem;
	border-radius: 4px;
	background-color: rgba(0,0,0,.35);
	cursor: pointer;
	z-index: 9999;
	transition: 300ms;

	&:before {
		@include pseudo;
		right: 50%;
		top: 50%;
		transform: translateY(-20%) translateX(50%) rotate(-135deg);

		width: 1rem;
		height: 1rem;

		border-bottom: 2px solid #fff;
		border-right: 2px solid #fff;

	}

	&:hover {
		opacity: 1;
		background-color: rgba(0,0,0,.6);

		.to-top__text {
			opacity: 1;
		}
	}
}

.to-top_visible {
	transform: none;
}
