.product {
	@include flex-row(nowrap, flex-start, center);
	padding: 1rem 1.3rem 1rem 1.3rem;
	font-size: 1.6rem;

	&:nth-of-type(odd) {
		background-color: #f7f7f7;
	}
}
.product__price,
.product__controls,
.product__avail,
.product__art,
.product__brand,
.product__name {
	@include flex-row(nowrap, flex-start, center);
}
.product__price,
.product__avail,
.product__art,
.product__brand,
.product__name {
	padding: 0 1.3rem 0 0;
}

.product__name {
	flex: 0 1 47%;
	font-weight: 600;
	text-decoration: underline;
	color: #5e5e5e;
	cursor: pointer;
}
.product__brand {
	flex: 0 1 15%;
	font-weight: 400;
}
.product__art {
	flex: 0 1 23%;
	font-weight: 400;
}
.product__avail {
	flex: 0 1 12%;
	font-weight: 400;
}
.product__price {
	flex: 0 1 10%;
	color: $color_main-b;
	font-weight: 600;
}
.product__controls {
	flex: 0 0 14%;
	min-width: 14.8rem;
	height: 3.8rem;
	padding: 0 0 0 .3rem;

	border: 1px solid #e8e7e7;
	border-radius: 4px;

	@include flex-row(nowrap, space-between, center);

	background-color: #fff;
}


@media screen and (max-width: 1023px) {
	.product {
		@include flex-row(wrap, space-between, center);
	}
	.product__name {
		flex: 1 1 40%;
		max-width: 40%;
	}
	.product__art,
	.product__brand,
	.product__avail  {
		flex: 1 1 20%;
		max-width: 20%;
	}
	.product__controls,
	.product__price {
		margin: 1.2rem 1.2rem 1.2rem 0;
	}
	.product__price {
		position: relative;
		flex: 0 0 20rem;
		background-color: transparent;
		padding-left: 8rem;
		&::before {
			position: absolute;
			content: 'Цена:';
			// line-height: 38px;
			left: 0;
			top: 0;
			height: 100%;
			width: 7rem;
			padding: 0 1rem 0 0;
			font-weight: 300;
			color: gray;
		}
	}
}


@media screen and (max-width: 767px) {
	.product__name,
	.product__art,
	.product__brand,
	.product__avail ,
	.product__price {
		position: relative;
		flex: 1 1 100%;
		max-width: 100%;
		background-color: transparent;
		padding-left: 15rem;
		margin-bottom: 7px;
		&::before {
			position: absolute;
			line-height: 38px;
			left: 0;
			top: 0;
			height: 100%;
			width: 7rem;
			padding: 0 1rem;
			font-weight: 300;
			color: gray;
			opacity: .75;
		}
	}
	.product__controls {margin-left: 15rem;}
	.product__name {
		&::before {
			content: 'Наименование:';
		}
	}
	.product__art {
		&::before {
			content: 'Артикул:';
		}
	}
	.product__brand {
		&::before {
			content: 'Бренд:';
		}
	}
	.product__avail {
		&::before {
			content: 'Наличие:';}
	}
	.product__price {
		margin: 0;
		&::before {
			content: 'Цена:';}
	}
}


@media screen and (max-width: 567px) {
	.product  {padding: 1.5rem 0;}
	.product__name,
	.product__art,
	.product__brand,
	.product__avail ,
	.product__price {
		padding-left: 9.5rem;
		&::before {
			width: 7.5rem;
			padding: 0 1rem;
			font-weight: 300;
			font-size: 12px;
		}
	}
	.product__name {
		font-size: 14px;
		&::before {
			content: 'Наим.:';
		}
	}
	.product__controls {margin-left: 9.5rem;}
}