.page-header {
	color: #fff;
	z-index: 10;
	margin: 0 !important;
}

.page-header__top-bar {
	position: relative;
	height: 4rem;
	background-color: #fbfbfb;

	&:before{
		@include pseudo;
		left: 0;
		top: 0;
		width: 40%;
		height: 100%;

		background-image: -ms-linear-gradient(left, #DCDCDC 0%, transparent 100%);
		background-image: -moz-linear-gradient(left, #DCDCDC 0%, transparent 100%);
		background-image: -o-linear-gradient(left, #DCDCDC 0%, transparent 100%);
		background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #DCDCDC), color-stop(100, transparent));
		background-image: -webkit-linear-gradient(left, #DCDCDC 0%, transparent 100%);
		background-image: linear-gradient(to right, #DCDCDC 0%, transparent 100%);

		z-index: 1;
		opacity: .7;
	}
	&:after{
		@include pseudo;
		right: 0;
		top: 0;
		width: 40%;
		height: 100%;

		background-image: -ms-linear-gradient(right, #DCDCDC 0%, transparent 100%);
		background-image: -moz-linear-gradient(right, #DCDCDC 0%, transparent 100%);
		background-image: -o-linear-gradient(right, #DCDCDC 0%, transparent 100%);
		background-image: -webkit-gradient(linear, right top, left top, color-stop(0, #DCDCDC), color-stop(100, transparent));
		background-image: -webkit-linear-gradient(right, #DCDCDC 0%, transparent 100%);
		background-image: linear-gradient(to left, #DCDCDC 0%, transparent 100%);

		z-index: 1;
		opacity: .7;

	}
	.container {
		@include flex-row(nowrap, space-between, center);
		height: 100%;
		z-index: 2;

		.btn-burger {
		    display: flex;
		    flex-flow: column nowrap;
		    justify-content: center;
		    align-items: center;
		    background-color: #003ca4;
		    width: 4.8rem;
		    height: 100%;
		    margin: 0 0 0 25px;
		    z-index: 2;
		    cursor: pointer;
		    transition: 200ms;
		}

		.btn-burger__bar {
			width: 2.1rem;
		    height: 2px;
		    margin-bottom: .4rem;
		    background: #fff;
		    transition: 200ms;
		    transform-origin: center, center;
		    &:last-child { margin-bottom: 0;}
		}
	}
}

.page-header__content {
	
	.container {
		@include flex-row(nowrap, space-between, center);
		height: 13.3rem;

	}
}


.page-header__bottom-bar {
	
	position: relative;
	height: 5.5rem;
	background-color: #1d70be;
	background-image: url(/img/bg/bg-bottom-bar.jpg);
	@include bg-cover;

	.container {
		@include flex-row(nowrap, space-between, center);
		height: 100%;
	}

	form {
	    flex: 1 1 100%;
    	margin: 0 30px 0 20px;
	}
}

#progress {
	position: fixed;
	top: 0px;
	left: 0;
	width: 0%;
	height: 3px;
	background-color: #e31f25;
}
