.catalog-list {
	.col-3 {
		border-right: 1px solid #dfdfdf;
		&:last-child {
			border-right: 0;
		}

		a:last-child {
			margin-bottom: 0;
		}

		.catalog-link:first-child {
			padding-top: 0;
		}
		.catalog-link:last-child {
			padding-bottom: 0;
		}
	}
}

.catalog-list_dropdown-menu { 
	position: absolute;
    width: 100%;

    top: 55px;

    background-color: #fff;
    box-shadow: 0 0 35px 1px rgba(0,0,0,.2);
    background-image: none;

    z-index: 9;
    overflow: hidden;

    transition: 220ms;

    // changable
    opacity: 0;
	height: 0;
    transform: translateY(30px);

	.container {
		padding-top: 40px;
		padding-bottom: 40px;
	}

}

.catalog-list_active {
    // changable
	height: auto;
    transform: translateY(0);
    opacity: 1;
}
